*.*~*
*.bak
*.o
*.orig
*.rej
.*.swp
.bitcoin
.vscode
build.sh
doc/notes
src/*.exe
src/build.h
#compilation and Qt preprocessor part
*.qm
Makefile
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
!depends
!depends/Makefile
.deps
.DS_Store
build
config.log